In [1]:
%matplotlib inline
import pandas as pd

In [2]:
df = pd.read_csv('bank-data.csv')

In [3]:
df.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [4]:
df.sort_values(by='age').age.head()

95     18
275    18
205    18
578    18
438    18
Name: age, dtype: int64

In [5]:
pd.value_counts(df.age).sort_index()

18    11
19    10
20    16
21     8
22    15
23    17
24    10
25    10
26    10
27    19
28     9
29     9
30    12
31    10
32     9
33     8
34    12
35    14
36    16
37    12
38    12
39    12
40    20
41    12
42    10
43    20
44    11
45     9
46    14
47    17
48    16
49    12
50     7
51     7
52    15
53     8
54     8
55     3
56    13
57    10
58    19
59    10
60     8
61    14
62     8
63    13
64    20
65    11
66    10
67    14
Name: age, dtype: int64

In [6]:
df_age_groups = df.age.groupby(pd.cut(df.age, [0,24,35,45,55,65,100], labels=['18-24','25-35','36-45','46-55','56-65','>65'] ))
df_age_groups.count()

age
18-24     87
25-35    122
36-45    134
46-55    107
56-65    126
>65       24
Name: age, dtype: int64

In [7]:
df_age_groups.groups.keys()

['56-65', '36-45', '25-35', '>65', '18-24', '46-55']

In [8]:
for k in df_age_groups.groups.keys():
    d = df.ix[df_age_groups.get_group(k).index]['mortgage'].astype("category").value_counts()
    inc = df.ix[df_age_groups.get_group(k).index]['income'].median()
    
    print k, inc
    for c in d.index.categories:
        print c, 1.*d.loc[c] / d.sum()

56-65 40077.6
NO 0.626984126984
YES 0.373015873016
36-45 26476.5
NO 0.60447761194
YES 0.39552238806
25-35 19715.9
NO 0.631147540984
YES 0.368852459016
>65 47081.25
NO 0.708333333333
YES 0.291666666667
18-24 12823.7
NO 0.655172413793
YES 0.344827586207
46-55 29794.1
NO 0.747663551402
YES 0.252336448598